#title{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 500px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;    
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    animation: color 10s ease infinite;
}
/*Animation de color*/
@keyframes color {
    0%{
        background: #d9ed92;
    }10%{
        background: #b5e48c;
    }20%{
        background: #99d98c;
    }30%{
        background: #76c893;
    }40%{
        background: #52b69a;
    }50%{
        background-color: #34a0a4;
    }60%{
        background-color: #34a0a4;
    }70%{
        background-color: #52b69a;
    }80%{
        background: #76c893;
    }90%{
        background: #99d98c;
    }95%{
        background: #b5e48c;
    }100%{
        background: #d9ed92;
    }
}

#info{
    width: 1400px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.bloc{
    width: 1250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;

}

#name{
    font-weight: bolder;
    font-size: 140%;
}
#role{
    font-style: italic;
    font-size: 100%;
    color: brown;
}
#description{
    font-size: 0.45cm;

}

#pdp{
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    margin: auto;
    float: left;
    width: 120px;
    margin: 10px;
}

#coordonnees{
    margin-top: 50px;
}

#exp{
    float: left;
    width: 120px;
    margin-top: 15px;
    margin-bottom: 43px; 
    margin-left: 182px;
    position: absolute;
}

#frm{
    float: left;
    width: 85px;    
    margin-top: 25px;
    margin-bottom: 43px; 
    margin-left: 193px;
    position: absolute;
}

#brevet{
    padding: 5px;
}

#bac{
    padding: 5px;
}

#titrePro{
    padding: 5px;
    
}

#cpt{
    float: left;
    width: 120px;
    margin-top: 15px;
    margin-bottom: 43px;
    margin-left: 173px;
    position: absolute;
}

#lsr{
    float: left;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 43px;
    margin-left: 177px;
}



.strong{
    font-weight: bold;
}
.description{
    margin: 10px;
}

#infoPlus{
    text-align: center;
    font-size: 150%;
    color:  rgb(255, 0, 128);
}

#coordonnees a{
    color: black;
}

body{
    background-color: #edf2f4;
}
