@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  margin-top: 55px;
  min-height: 100vh;
  background: #3b3b3b;
  flex-direction: column;
  align-items: center;
}
/*Carte du profil*/
.profilcard {
  position: relative;
  width: 350px;
  height: 190px;
  background: white;
  transition: 0.5s;
}
.profilcard:hover {
  height: 450px;
}
.profilcard .lines {
  position: absolute;
  inset: 0;
  background: black;
  overflow: hidden;
}

/*Animation Cadre Info*/
.profilcard .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #ff1b6b,
    #ff1b6b,
    #ff1b6b,
    transparent
  );
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.profilcard .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: linear-gradient(45deg, #727a9a, #d8dbe9);
}

/*Cadre Profil picture*/
.profilcard .imgpp {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: black;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}
.profilcard:hover .imgpp {
  width: 250px;
  height: 250px;
}

/*Animation Cadre Profil picture*/
.profilcard .imgpp::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #45caff,
    #45caff,
    #45caff,
    transparent
  );
  animation: animate2 6s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.profilcard .imgpp::after {
  content: "";
  position: absolute;
  inset: 3px;
}

/*Profil picture*/
.profilcard .imgpp img {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}

.profilcard .box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.profilcard .box .content {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(145px);
}
.profilcard:hover .box .content {
  transform: translateY(0px);
}

/*Name*/
.profilcard .box .content h2 {
  font-size: 23px;
  color: #3c8cde;
  font-family: "Fredoka One", cursive;
}

/*Post*/
.profilcard .box .content h2 span {
  font-family: "Fuzzy Bubbles", cursive;
  color: black;
  font-size: 13px;
  line-height: 19px;
}

.profilcard .box .content .contact {
  margin: 13px 0;
}
.profilcard .box .content h3 {
  font-family: "Patrick Hand", cursive;
  color: #3c8cde;
}
.profilcard .box .content ul li {
  list-style: none;
  font-family: "Patrick Hand", cursive;
}
.profilcard .box .content ul .icon {
  font-size: 17px;
  margin-right: 10px;
  margin-top: 10px;
  color: #3c8cde;
}
.profilcard .box .content ul a {
  text-decoration: none;
  color: #0a64c2;
}

/*Carte de poker*/
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  width: 320px;
  height: 400px;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}
.container .card:hover {
  transform: translateY(-20px);
}
.container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.container .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

/*Glowing effect couleur des cartes*/
#diamonds::before,
#diamonds::after {
  background: linear-gradient(45deg, #fcb0f3, #3d05dd);
}
#clubs::before,
#clubs::after {
  background: linear-gradient(45deg, #ff1b6b, #45caff);
}
#spades::before,
#spades::after {
  background: linear-gradient(45deg, #95f9c3, #0b3866);
}
#hearts::before,
#hearts::after {
  background: linear-gradient(45deg, #aefb2a, #57ebde);
}

.container .card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.container .card span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.container .card .details {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
.container .card .details h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Caveat", cursive;
}
.container .card .details p {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 30px;
  font-family: 'Indie Flower', cursive;
}
.container .card .details a {
  padding: 5px;
  margin: 40px 75px 0;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
